 
html,
body {
  width: 100%;
  margin: 0;
}
body {
    background-image: url("../img/mlb_background.jpg");
}

* {
  box-sizing: border-box;
}
 
#loading-overlay{
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: flex;
  vertical-align: top;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;


}
#loading-overlay.hide-loader{
  display: none;
}
#canvas{
  opacity: 0;
  transition: opacity 1s linear;
}
#canvas.content-loaded{
  opacity: 1;
  transition: opacity 1s linear;
}
svg path,
svg rect{
  fill: rgb(256, 256, 256);
}